/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: "Outfit", sans-serif;
  padding: 2rem;
  /*background-color: #0d1443;*/
  /*background: linear-gradient(95deg, #111b44, #000000);*/

  background:
    radial-gradient(circle at 20% 30%, #171f55 0%, transparent 40%),
    radial-gradient(circle at 80% 70%, #4e0b56 0%, transparent 50%), #0d1433;

  background-attachment: fixed;
}

/* ANIMATED LUNAR BACKGROUND */

body {
  font-family: "Outfit", sans-serif;
  padding: 2rem;
  min-height: 100vh;

  /* Main dark background */
  background-color: #0d1433;

  position: relative;
  overflow-x: hidden;
}

/* General styling for both glowing lights */
body::before,
body::after {
  content: "";
  position: fixed;

  width: 500px;
  height: 500px;

  border-radius: 50%;
  filter: blur(70px);

  /* Places the lights behind the website content */
  z-index: -1;
}

/* FIRST FLOATING LIGHT */
body::before {
  background: #274272;

  top: 10%;
  left: 5%;

  opacity: 0.4;

  animation: glow-one 10s ease-in-out infinite alternate;
}

/* SECOND FLOATING LIGHT */
body::after {
  background: #03444a;

  bottom: 5%;
  right: 5%;

  opacity: 0.15;

  animation: glow-two 10s ease-in-out infinite alternate;
}

/* Movement for first light */
@keyframes glow-one {
  from {
    transform: translate(0, 0);
    opacity: 0.3;
  }

  to {
    transform: translate(400px, 150px);
    opacity: 0.5;
  }
}

/* Movement for second light */
@keyframes glow-two {
  from {
    transform: translate(0, 0);
    opacity: 0.2;
  }

  to {
    transform: translate(-350px, -100px);
    opacity: 0.4;
  }
}

.element {
  padding-bottom: 2rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eeeeee57;
}

h1,
h2,
h3,
h4 {
  font-family: "Lunasima", sans-serif;
}

h1 {
  color: #6c90c3;
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 6rem;
  color: #274272;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #eeeeeea2;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: #eee;
}

p {
  margin-top: 0;
  color: #eee;
}

/*IN-TEXT LINK CSS*/

/* In-text link */
p a {
  color: #6c90c3;
  text-decoration: none;
  position: relative;
  transition:
    color 0.3s,
    text-shadow 0.3s;
}

/* Creates the underline */
p a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -3px;
  background-color: #6c90c3;
  transition: width 0.5s;
}

/* Underline grows when hovered */
p a:hover::after,
p a:focus::after {
  width: 100%;
  box-shadow: 0 0 6px #e4e5e7;
}

/* Gentle glow */
p a:hover,
p a:focus {
  color: #08fffb;
  text-shadow: 0 0 15px #6c90c3;
}

li {
  color: #eee;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #0c102c;
  padding: 0.5rem;
  display: block;
  color: #eee;
  border-radius: 0.5rem;
  box-shadow: 0 2px 3px 0 #08fffb84;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.6em 2em;
  color: #eee;
  background-color: #274272;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 10px;
}

.button-nav:hover,
.button-nav:focus {
  background-color: #6c90c3;
  box-shadow: 0 2px 5px 0 #08fffb;
  color: #0d1433;
}

/*Second nav option*/
.button-nav2 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  background-color: #274272;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 1rem;
}

.button-nav2::before {
  content: "";
  background: linear-gradient(135deg, #08fffb, #862fe3);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 15s infinite;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button-nav2:hover::before,
.button-nav2:focus::before {
  opacity: 1;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-nav2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #171f55;
  left: 0;
  top: 0;
  border-radius: 10px;
  z-index: -1;
}

.button-nav2:hover,
.button-nav2:focus {
  box-shadow: 0 2px 5px 0 #08fffb84;
  background-color: #6c90c3;
  color: #0d1433;
}

/* SUBMIT AND RESET BUTTONS */

.submit-button,
.reset-button {
  font-family: "Outfit", sans-serif;
  padding: 0.6em 1.5em;
  border: none;
  border-radius: 10px;
  color: #eee;
  background-color: #274272;
  cursor: pointer;
  margin-right: 0.5em;
  transition: 0.3s;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #6c90c3;
  color: #0d1433;
  box-shadow: 0 2px 5px #08fffb84;
}

.reset-button {
  background-color: #171f55;
}

.reset-button:hover,
.reset-button:focus {
  background-color: #6c90c3;
  color: #0d1433;
  box-shadow: 0 2px 5px #08fffb84;
}

/* text input with label item*/
.searchField {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75em;
  border: #6c90c3, 1px, solid;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-width: fit-content;
  border-radius: 10px;
  background-color: #171f55;
}
.searchField label {
  color: #eee;
}
.searchField img {
  max-width: 1em;
  display: block;
}
.searchField img:hover {
  filter: brightness(0) invert(1);
}
.searchField input {
  color: #171f55;
  max-height: 1.5em;
  border-radius: 0.5em;
  font-family: "Outfit", sans-serif;
  padding-left: 0.5em;
}

/* radio input */
/* RADIO BUTTONS */

.chooseOptions {
  width: fit-content;
  padding: 1em 1.5em;
  margin: 1em 0;

  background-color: #171f55;
  border: 1px solid #6c90c3;
  border-radius: 10px;

  color: white;
}

.chooseOptions legend {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #6c90c3;
  padding: 0 0.4em;
}

.chooseOptions label {
  font-family: "Outfit", sans-serif;
  margin-right: 0.8em;
  cursor: pointer;
}

.chooseOptions input[type="radio"] {
  accent-color: #6c90c3;
  cursor: pointer;
}

/* */
.imgLink {
  display: block;
  max-width: 15em;
  border-radius: 10px;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* 
  COMBINED ELEMENTS -------------------
*/

#mainNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6c90c3;
  max-width: 100%;
  border-radius: 5px;
  background-color: #171f55;
  /*reference for drop shadow https://developer.mozilla.org/en-US/docs/Learn_web_development/Howto/Solve_CSS_problems/Add_a_shadow*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
#mainNavigation a {
  text-decoration: none;
}
#mainNavigation .icons {
  max-width: auto;
  height: 1.5em;
  display: block;
}
#mainNavigation .icons:hover {
  filter: brightness(0) invert(1);
}
#mainNavigation h1:hover {
  color: #e4e5e7;
}
#mainNavigation .leftAlignedNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
#mainNavigation .rightAlignedNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 1em;
}

.productsListing {
  display: flex;
  flex-direction: column;
  border: 1px solid #274272;
  padding: 1em;
  max-width: 15em;
  border-radius: 20px;
  background-color: #0c102c;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.productImage {
  /*the rest of the changes are in the imgLink class*/
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.productsListing a {
  text-decoration: none;
}
.productsListing p {
  color: #6c90c3;
}
.productsListing h4 {
  font-width: black;
  text-wrap: balance;
}
.productsListing:hover {
  outline: none;
  box-shadow: 0 2px 3px 0 #08fffb;
  transition-duration: 0.5s;
}

/* PAYMENT FORM */

.payment-form {
  max-width: 32rem;
  padding: 1.5em;
  background-color: #0c102c;
  border: 1px solid #274272;
  border-radius: 10px;
  box-shadow: 0 2px 5px #08fffb84;
}

.payment-form > label {
  display: block;
  color: #eee;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.payment-form > input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.7em;
  background-color: #171f55;
  color: #eee;
  border: 1px solid #181c22;
  border-radius: 8px;
  font-family: "Outfit", sans-serif;
}

.payment-form > input[type="text"]:focus {
  outline: none;
  border-color: #08fffb;
  box-shadow: 0 0 5px #08fffb84;
}

.payment-form fieldset {
  margin: 1.5em 0;
  padding: 1em;
  border: 1px solid #6c90c3;
  border-radius: 8px;
  color: #eee;
}

.payment-form legend {
  color: #6c90c3;
  font-family: "Lunasima", sans-serif;
}

/* CHECKOUT CART */

.checkout-cart {
  max-width: 40rem;
  padding: 1.5em;

  background-color: #0c102c;
  border: 1px solid #274272;
  border-radius: 10px;

  box-shadow: 0 2px 5px #08fffb84;
}

.checkout-cart > h4 {
  font-size: 1.2rem;
  color: #6c90c3;
  margin-top: 0;
  margin-bottom: 1em;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1em;

  padding: 1em 0;

  border-bottom: 1px solid #274272;
}

.cart-image {
  width: 90px;
  height: 90px;

  object-fit: cover;

  border-radius: 8px;
  border: 1px solid #274272;
}

.cart-info {
  flex: 1;
}

.cart-info h4 {
  margin-top: 0;
  margin-bottom: 0.4em;
  color: #eee;
}

.cart-info p {
  margin: 0.2em 0;
  color: #6c90c3;
}

.cart-price {
  color: #eee;
  font-weight: 600;

  margin-left: auto;
}

.cart-total {
  display: flex;
  justify-content: space-between;

  padding-top: 1em;
}

.cart-total p {
  margin: 0;
  color: #eee;
  font-size: 1.1rem;
}
