/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: "Outfit", sans-serif;
  padding: 2rem;
  /*background-color: #0d1443;*/
  background: linear-gradient(95deg, #0d1433, #274272);
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.01rem;
  border-top-style: solid;
  border-top-color: #eee;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #6c90c3;
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  margin-top: 6rem;
  color: #274272;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  color: #eee;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #eee;
}

p {
  margin-top: 0;
  color: #eee;
}

/*IN-TEXT LINK CSS*/

/* In-text link */
p a {
  color: #6c90c3;
  text-decoration: none;
  position: relative;
  transition:
    color 0.3s,
    text-shadow 0.3s;
}

/* Creates the underline */
p a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -3px;
  background-color: #6c90c3;
  transition: width 0.5s;
}

/* Underline grows when hovered */
p a:hover::after,
p a:focus::after {
  width: 100%;
  box-shadow: 0 0 6px #e4e5e7;
}

/* Gentle glow */
p a:hover,
p a:focus {
  color: #08fffb;
  text-shadow: 0 0 15px #6c90c3;
}

li {
  color: #eee;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #171f55;
  padding: 0.5rem;
  display: block;
  color: #eee;
  border-radius: 0.5rem;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.6em 2em;
  color: #eee;
  background-color: #274272;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 10px;
}

.button-nav:hover,
.button-nav:focus {
  background-color: #6c90c3;
  box-shadow: 0 2px 5px 0 #08fffb;
  color: #0d1433;
}

/*Second nav option*/
.button-nav2 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  background: #171f55;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
}

.button-nav2::before {
  content: "";

  background: linear-gradient(95deg, #00ffd5, #002bff, #7a00ff, #ff00c8);

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(2px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button-nav2:hover::before,
.button-nav2:focus::before {
  opacity: 1;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-nav2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #171f55;
  left: 0;
  top: 0;
  border-radius: 10px;
  z-index: -1;
}

.button-nav2:hover,
.button-nav2:focus {
  color: white;
}

/*third nav option*/

.button-nav3 {
  color: #eee;
  cursor: pointer;
  overflow: visible;
  padding: 0.7em 2em;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.button-nav3:before,
.button-nav3:after {
  border-radius: 10px;
}

.button-nav3:before {
  background-color: #6c90c3;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  border-radius: 10px;
  opacity: 0.2;
}

.button-nav3:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #171f55 20%, #274272 100%);
  bottom: 4px;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-nav3:hover:after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(92.83deg, #6c90c3, 40%, #6c90c3 100%);
  opacity: 0.4;
  transition-duration: 0.5s;
}

/* text input with label item*/
.searchField {
  display: flex;
  gap: 0.75em;
  align-content: center;
  margin: 1em;
  border: #6c90c3, 1px, solid;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-width: 30%;
  border-radius: 10px;
}
.searchField label {
  color: #eee;
}
.searchField img {
  max-width: 1em;
}
.searchField img:hover {
  filter: brightness(0) invert(1);
}
.searchField input {
  color: #171f55;
  max-height: 1em;
  border-radius: 1em;
}

/* radio input */
.chooseOptions {
  color: #eee;
  margin: 1em;
  max-width: 30%;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* 
  COMBINED ELEMENTS -------------------
*/

#mainNavigation {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #6c90c3;
  max-width: fit-content;
  border-radius: 5px;
}

#productsListing {
}
